*.settings/
.svn/
*target/
*.project
*.classpath
*.externalToolBuilders/
*.tern-project
*.idea/
*.factorypath
*.pydevproject
.idea/
*.iml
*arquillian.launch_file
pom.xml.releaseBackup
release.properties
.flattened-pom.xml
